
@{
    ViewBag.Title = "AfterSignup";
}

<h2 style="color:#4cff00">Your Account is Successfully Created... It will be Approved by Admin with in 6 Hours....</h2>
<h2 style="color:#BcBbee">Thank you fo Registration</h2>

